<!--
Page: index.html
Home Page of TalentApp
// <link rel="stylesheet" href="css/TalentApp.css">//
-->

<!DOCTYPE html>
<html lang="en" ng-app="TalentApp" ng-cloak>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TalentFuture</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript"
            src="/bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script type="text/javascript"
            src="/bower_components/ng-file-upload/ng-file-upload-shim.js"></script>
    <script src="/bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>

    <script src="app/app.js"></script>
    <script src="app/app.config.js"></script>
    <script src="app/skillsController.js"></script>
    <script src="app/user.js"></script>
    <script src="app/userList.controller.js"></script>
    <script src="app/homeController.js"></script>
    <script src="app/skillsUpload.js"></script>
    <script src="services/user-services.js"></script>
    <script src="services/skills-services.js"></script>
    <script src="services/userlist.services.js"></script>

</head>


<body ng-controller="HomeCtrl as homectrl" ng-cloak>

<div class="container">
    <!-- The Banner -->
    <div class="row pageHeading jumbotron">


        <div class="jumbotron custom-background">
                   <div class="big"></div>
            <div class="jumbotron">
                <div class="row">
                    <div class="col-lg-6">
                        <img src='http://www.fun71.com/wp-content/uploads/2015/04/Beautiful-Scene-In-Singapure.jpg'>
                    </div>
                    <div class="col-lg-6">
                        <div class="page-header">
                            <h1>TalentFuture</h1>
                            <p>Your partner in talent and skills acquisition for extraordinary visions of tomorrow.</p>
                        </div>
                        <!-- End of JumboTron -->

                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="#">Our Mission</a>
                                </div>
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="#">Home</a></li>
                                    <li><a href="active">SkillsFuture </a></li>
                                    <li><a href="#">TalentSearch </a></li>
                                    <li><a href="#">OrganisationSearch </a></li>
                                </ul>
                            </div>
                        </nav>

                        <br>

                        <!-- The Selection Box: User details? -->
                        <form class="row">
                            <div class="col-sm-5 pull-right">
                                <label>Sign in:</label>
                                <select class="form-control" ng-model="homectrl.loggedin_user"
                                        ng-change="homectrl.login()"
                                        ng-options="user.name for name in homectrl.userList track by name.id">
                                </select>
                            </div>
                            <div class="col-sm-6 pull-left">
                                <a class="index-camera-btn" ng-click="homectrl.showUploadWindow()"
                                   ng-show="homectrl.loggedin_user.id">
                                    <span class="glyphicon glyphicon-camera"></span>
                                </a>
                            </div>
                        </form>

                        <!-- debug code div>
                            Loggedin User # {{homectrl.loggedin_user}} <br>
                            User List: {{homectrl.userList}}
                            <div ng-repeat="name in homectrl.userList">
                                #{{$index}} id {{name.id}}  name {{name.name}} <br>
                            </div>
                        </div>

                        <!-- The three tabs: SkillsFuture, TalentSearch, User List-->
                        <ul class="nav nav-tabs">
                            <li><a class="nav active" href="#/A/{{homectrl.loggedin_user.id}}">SkillsFuture</a></li>
                            <li ng-show="homectrl.loggedin_user.id"><a class="nav"
                                                                       href="#/B/{{homectrl.loggedin_user.id}}">Talent
                                Search</a></li>
                            <li ng-show="homectrl.loggedin_user.id==1"><a class="nav"
                                                                          href="#/C/{{homectrl.loggedin_user.id}}">User
                                List</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <ui-view></ui-view>
                        </div>
                    </div>
                    <!-- The footer -->
                    <div class="row">
                        &copy; TalentFuture, 2016
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

</body>


</html>