
<!DOCTYPE html>
<html lang="en">
<head>
    <title>TalentSearch</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">

</head>

<body>
<div class="jumbotron custom-background">


    <div class="small"></div>

    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-6">
                <img src='http://www.fun71.com/wp-content/uploads/2015/04/Beautiful-Scene-In-Singapure.jpg'>
            </div>

            <nav class="col-lg-6">
                <div class="page-header">
                    <h1>TalentSearch</h1>
                    <p>Your Human Capital Partner in Talent and Skills Acquisition for Extraordinary Visions of Tomorrow.</p>
                </div>
                <!-- End of JumboTron -->

                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">Our Mission</a>
                        </div>

                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="active">SkillsFuture </a></li>
                            <li><a href="#">Organisation Search </a></li>
                            <li><a href="#">Talent Search </a></li>
                        </ul>



                <br>
</nav>

                <form>

                    <form id="regform" name="regform" class="form" ng-submit="myCtrl.registerUser() && regform.$valid"
                          novalidate>
                        <br>
                        <legend>Search - SkillsFuture</legend>

                        <div class="form-group">
                            <label class="control-label" for="name">Course Title</label>
                            <input type="text" class="form-control" id="name" name="name"
                                   ng-model="myCtrl.userObject.name" autocomplete="off" required>
                            <div class="validation alert-danger"
                                 data-ng-show="regform.name.$touched || regform.$submitted">

                        <form class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>


                        <button type="submit" class="btn primary"
                                ng-disabled="regform.$invalid">
                            Add
                        </button>
                        <button type="reset" class="btn primary">
                            Clear
                        </button>
                    </form>
            </div>
        </div>
    </div>
</div>

</body>

<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-ui-router/src/urlRouter.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bower_components/jquery/dist/jquery.slim.min.js"></script>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/body-parser/lib/types/json.js"></script>
<script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

<script src="app.js"></script>


</html>

