<!--
// talent1.html
Page: index.html
Home Page of TalentApp
// <link rel="stylesheet" href="css/TalentApp.css">//
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>TalentFuture</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">

</head>


<body>


<div class="jumbotron custom-background">

    <div class="small"></div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-6">
                <img src='http://www.fun71.com/wp-content/uploads/2015/04/Beautiful-Scene-In-Singapure.jpg'>
            </div>
            <div class="col-lg-6">
                <div class="page-header">
                    <h1>TalentFuture</h1>
                    <p>Your Human Capital Partner in Talent and Skills Acquisition for Extraordinary Visions of
                        Tomorrow.</p>
                </div>
                <!-- End of JumboTron -->

                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">Our Mission</a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="active">SkillsFuture </a></li>
                            <li><a href="#">Organisation Search </a></li>
                            <li><a href="#">Talent Search </a></li>
                        </ul>
                    </div>
                </nav>

                <br>

                <form>

                    <form id="regform" name="regform" class="form" ng-submit="myCtrl.registerUser() && regform.$valid"
                          novalidate></form>
                    <br>
                    <legend>User Registration</legend>

                    <div class="form-group">
                        <label class="control-label" for="name">Name </label>
                        <input type="text" class="form-control" id="name" name="name"
                               ng-model="myCtrl.userObject.name" autocomplete="off" required>
                        <div class="validation alert-danger"
                             data-ng-show="regform.name.$touched || regform.$submitted">
                <span data-ng-show="regform.name.$error.required">
                    Name is mandatory
                </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email"
                               placeholder="Linda Dyer@gmail.com"
                               ng-model="myCtrl.userObject.email" autocomplete="off" required>
                        <div class="validation alert-danger"
                             data-ng-show="regform.email.$touched || regform.$submitted">
                <span data-ng-show="regform.email.$error.required && regform.email.$touched">
                      Email is mandatory
                </span>
                            <span data-ng-show="regform.email.$error.email">
                      Invalid email
                </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="contact">Contact No:</label>
                        <input type="text" class="form-control" id="contact" name="contact"
                               placeholder="+65" ng-model="myCtrl.userObject.contact" ng-class="has-error"
                               ng-pattern="/^\+(?:[0-9] ?){9,16}[0-9]$/"
                               autocomplete="off" required>
                        <div class="validation alert-danger"
                             data-ng-show="regform.contact.$touched || regform.$submitted">
                <span data-ng-show="regform.contact.$error.required && regform.contact.$touched">
                      Contact Number is mandatory
                </span>
                            <span data-ng-show="regform.contact.$error.pattern">
                      Invalid format contact number, e.g. +65 12345678
                </span>
                        </div>
                    </div>

                    <button type="submit" class="btn primary"
                            ng-disabled="regform.$invalid">
                        Add
                    </button>
                    <button type="reset" class="btn primary">
                        Delete
                    </button>
                </form>
            </div>


            <script src="../bower_components/angular/angular.min.js"></script>
            <script src="../bower_components/angular-ui-router/src/urlRouter.js"></script>
            <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="../bower_components/jquery/dist/jquery.slim.min.js"></script>
            <script src="../bower_components/jquery/dist/jquery.min.js"></script>
            <script src="../bower_components/body-parser/lib/types/json.js"></script>
            <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

            <script src="../app.js"></script>
            <script src="../app.config.js"></script>
            <script src="../homeController.js"></script>
            <script src="../skillsController.js"></script>
            <script src="../skillsUpload.js"></script>
            <script src="../user.js"></script>
            <script src="../skills-services.js"></script>
            <script src="../user-services.js"></script>
            <script src="../userlist.services.js"></script>
        </div>
    </div>
</div>


</body>

</html>

