<form id="regform" name="regform" class="form" ng-submit="myCtrl.registerUser() && regform.$valid" novalidate>
    <br>
    <legend>User Registration</legend>

    <div class="form-group">
        <label class="control-label" for="name">Name </label>
        <input type="text" class="form-control" id="name" name="name"
               ng-model="myCtrl.userObject.name" autocomplete="off" required>
        <div class="validation alert-danger" data-ng-show="regform.name.$touched || regform.$submitted">
                <span data-ng-show="regform.name.$error.required">
                    Name is mandatory
                </span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="anna@gmail.com"
               ng-model="myCtrl.userObject.email" autocomplete="off" required>
        <div class="validation alert-danger" data-ng-show="regform.email.$touched || regform.$submitted">
                <span data-ng-show="regform.email.$error.required && regform.email.$touched">
                      Email is mandatory
                </span>
            <span data-ng-show="regform.email.$error.email">
                      Invalid email
                </span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="contact">Contact No:</label>
        <input type="text" class="form-control" id="contact" name="contact"
               placeholder="+65" ng-model="myCtrl.userObject.contact" ng-class="has-error"
               ng-pattern="/^\+(?:[0-9] ?){9,16}[0-9]$/"
               autocomplete="off" required>
        <div class="validation alert-danger" data-ng-show="regform.contact.$touched || regform.$submitted">
                <span data-ng-show="regform.contact.$error.required && regform.contact.$touched">
                      Contact Number is mandatory, e.g. +65 12345678
                </span>

                <span data-ng-show="regform.contact.$error.pattern">
                      Invalid contact number, e.g. +65 12345678
                </span>
        </div>
    </div>

    <button type="submit" class="btn primary"
            ng-disabled="regform.$invalid">
        Add
    </button>
    <button type="reset" class="btn primary">
        Clear
    </button>
</form>
<br>
<div class="alert alert-success center" role="alert" data-ng-show="myCtrl.server_response">
    {{myCtrl.server_response}}
</div>

<hr>
<div class="form-group">
    <h3> User List </h3>

    <div class="col-sm-3 pull-right">
        <select name="userList" id="userList" ng-model="myCtrl.selectuserList">
            <option value='1'>Yes, join as Talent member</option>
            <option value='2'>No, thanks</option>
            <option value="0">Pending, not now</option>
        </select>
    </div>

    <div class="col-sm-5 pull-left">
        <input type="text" name="name" id="username"
               placeholder="Enter name to search" ng-model="myCtrl.getuserName">

        <i class="fa fa-search fa-2x" aria-hidden="true" ng-click="myCtrl.getUser()"></i>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>S/N</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Gender</th>
            <th>Others</th>
        </tr>
        </thead>

        <tbody ng-repeat="user in myCtrl.users | filter: {userList: myCtrl.selectuserList} | orderBy: 'name'">
        <!--<tbody ng-repeat="user in myCtrl.users">-->

        <tr>
            <td>{{($index+1)}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.contact}}</td>
            <td>{{user.gender}}</td>
            <td>{{myCtrl.displayuserList(user)}}</td>
            <td>{{user.others}}</td>
        </tr>
        </tbody>
    </table>

</div>
